.personalInfo img{
    width: 100px;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid gray;
}
.socialAC{
     font-size: 40px;
     color: #373B40;
}
.personalInfo{
    border: 2px solid grey;
    padding: 20px 30px;
    border-radius: 20px;
}
.myskills{
    border: 2px solid grey;
    padding: 20px 30px;
    border-radius: 20px;
}