 .navbar{
   position: fixed; 
   z-index: 10000;
 }
 .navbar-option {
  font-size: 20px;
  font-weight: 700;
  color: #0a173a !important;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 30px;
  outline: none; 
  transition: .5s;
  background-color: #00C4B3;
}
.viewResume {
  background-color: #0a173a;
  color: #00C4B3 !important;
}
.navbar-option:hover {
  color: white !important;
  text-decoration: wavy;
  border: 1px solid #0a173a;

}
.navbar-home{
    font-size: 20px;
    font-weight: 700;
    color: #0a173a !important;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 30px;
    outline: none; 
    transition: .8s;
}